.part2 {
    height: 700px;
}

form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;

    .name {
        margin-top: 40px;
    }

    .email, .phone, .comment {
        margin-top:60px;
    }

    input {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        line-height: 37px;
    }

    .name, .email, .phone, .comment {
        input {
            margin-left: 40px;
            height: 50px;
            width: 500px;
            font-size: 25px;
        }
    }

    .button {
        input {
            margin-top:140px;
            width: 389px;
            height: 125px;
            border-radius: 30px;
            background: #3D315B;
            border-color: #3D315B;
            color: #fff;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
        }
    }

    //.button {
    //    width: 389px;
    //    height: 125px;
    //    margin-left: 60%;
    //    background: #3D315B;
    //    border-radius: 30px;
    //    width: 389px;
    //    font-weight: 600;
    //    font-size: 30px;
    //    line-height: 37px;
    //    color: #EDE38E;
    //    font-family: 'Montserrat';
    //    font-style: normal;
    //
    //}
}
